apps/__pycache__/
apps/authentication/__pycache__/
apps/common/__pycache__/
apps/farmers/__pycache__/
apps/ffzusers/__pycache__/
apps/home/__pycache__/
apps/inventory/__pycache__/
apps/locations/__pycache__/
apps/logs/__pycache__/
apps/offers/__pycache__/
apps/orders/__pycache__/
apps/payments/__pycache__/
apps/products/__pycache__/
apps/reports/__pycache__/
apps/temp/__pycache__/
core/__pycache__/
venv/

